Checks: |
  -*,
  gabin-functionsizecheck,
  gabin-epitafunctionargscountcheck,
  #gabin-switchcaseindentationcheck
WarningsAsErrors: '*'                     # Traite toutes les vérifications comme des erreurs
